#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
#login img.logo {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 12px;
}
#login .container {
  padding: 32px;
  max-width: 320px;
}
#login header .title {
  font-size: 26px;
}
#login header .text {
  font-size: 13px;
  padding-bottom: 12px;
  padding-left: 1px;
}
#login-message {
  font-size: 9px;
  text-transform: uppercase;
  color: rgb(220, 6, 6);
  height: 12px;
  padding-left: 4px;
  padding-bottom: 5px;
}
#login form input[type="email"],
#login form input[type="password"] {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.02);
  color: rgb(0, 98, 163);
  width: calc(100% - 26px);
  margin: 0;
  padding: 8px 12px;
  margin-bottom: 4px;
}
#login form input[type="email"]:hover,
#login form input[type="password"]:hover {
  background: rgba(0, 0, 0, 0.04);
}
#login form input[type="submit"] {
  min-width: 100px;
}
#login form .btn-container {
  padding-top: 6px;
  text-align: right;
}

@media only screen and (max-width: 580px), screen and (max-height: 580px) {
  #login .container {
    max-width: 100%;
  }
  #login form input[type="email"],
  #login form input[type="password"] {
    padding: 10px 12px;
  }
  #login form input[type="submit"] {
    width: 100%;
    padding: 10px 16px;
    margin: 6px 0px;
  }
}
